.c13731{
    padding:10px;
    align-self:center;
    text-align:center;
    font-size:25px;
    font-weight:600;
    display:block;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}
.c3690{
    height:614px;
    font-family:Helvetica, serif;
    align-self:center;
    justify-content:center;
}
.c12511{
    flex-basis:100%;
    text-align:center;
    align-self:center;
    display:flex;
    justify-content:center;
    flex-direction:row;
}
.c14791{
    text-align:center;
    font-size:10px;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-decoration:underline;
    align-items:flex-end;
    align-self:flex-end;
    text-decoration-line:underline;
    text-decoration-style:initial;
    text-decoration-color:initial;
}
.c15657{
    text-align:center;
    float:none;
    padding:10px 0 10px 0;
    padding-top:10px;
    padding-right:0px;
    padding-bottom:10px;
    padding-left:0px;
}