* {
     box-sizing: border-box;
}
 body {
    margin: 0;
}
#form-cell{
    margin:0 0 0 5px;
}
#form-cell{
    padding:0 0 0 5px;
}
.form{
    padding-top:10px;
    padding-right:15px;
    padding-bottom:10px;
    padding-left:15px;
    background-color:rgba(122, 125, 127, 0.2);
    width:500px;
    display:block;
    /* float:none; */
    text-align:center;
    flex-direction:row;
    justify-content:center;
    position:static;
    align-self:center;
    align-items:flex-start;
    margin:0 -5px 16px -5px;
}
.input{
    width:100%;
    /* margin-bottom:10px; */
    background-color:rgb(126, 124, 132);
    /* display:inline-block; */
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.select{
    width:100%;
    margin-bottom:10px;
    padding-top:7px;
    padding-right:10px;
    padding-bottom:7px;
    padding-left:10px;
   
    color:rgb(255, 255, 255);
    border-top-width:initial;
    border-right-width:initial;
    border-bottom-width:initial;
    border-left-width:initial;
    border-top-style:none;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:none;
    border-top-color:initial;
    border-right-color:initial;
    border-bottom-color:initial;
    border-left-color:initial;
    border-image-source:initial;
    border-image-slice:initial;
    border-image-width:initial;
    border-image-outset:initial;
    border-image-repeat:initial;
    height:30px;
    text-align:center;
    float:none;
    margin:0 0 10px 0;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    background-color:rgb(126, 124, 132);
    text-align-last:center;
    direction:rtl;
}

.navbar-items-c{
    display:inline-block;
    float:right;
}
.navbar{
    /* color:rgb(221, 221, 221); */
    min-height:50px;
    width:100%;
    /* background-color:rgb(62, 47, 124); */
}
.navbar-container{
    max-width:950px;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    width:95%;
}
.navbar-container::after{
    content:"";
    clear:both;
    display:block;
}
.navbar-menu{
    padding-top:10px;
    padding-right:0px;
    padding-bottom:10px;
    padding-left:0px;
    display:block;
    float:right;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
}
.navbar-menu-link{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    color:#ffffff;
    text-decoration-line:none;
    text-decoration-style:initial;
    text-decoration-color:initial;
    display:inline-block;
    padding-top:10px;
    padding-right:15px;
    padding-bottom:10px;
    padding-left:15px;
    font-family:Helvetica, serif;
}
.navbar-burger{
    margin-top:10px;
    margin-right:0px;
    margin-bottom:10px;
    margin-left:0px;
    width:45px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:5px;
    padding-left:10px;
    display:none;
    float:right;
    cursor:pointer;
}
.navbar-burger-line{
    padding-top:1px;
    padding-right:1px;
    padding-bottom:1px;
    padding-left:1px;
    background-color:white;
    margin-top:5px;
    margin-right:0px;
    margin-bottom:5px;
    margin-left:0px;
}
.row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}
/* .cell{ */
    /* min-height:75px; */
    /* flex-grow:1; */
    /* flex-basis:100%; */
/* } */
/* .button:active{ */
    /* box-shadow:rgb(0, 255, 247) 0px 0px 10px 0px inset; */
/* } */
.tab{
    text-decoration-line:none;
    text-decoration-style:initial;
    text-decoration-color:initial;
    color:inherit;
    padding-top:7px;
    padding-right:14px;
    padding-bottom:7px;
    padding-left:14px;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-property:opacity;
    display:inline-block;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    margin-right:10px;
}
.tab.tab-active{
    background-color:rgb(13, 148, 230);
    color:white;
}
.tab-content{
    padding-top:6px;
    padding-right:10px;
    padding-bottom:6px;
    padding-left:10px;
    min-height:100px;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:none;
    animation-play-state:running;
    animation-name:fadeEffect;
    padding:6px 10px 6px 10px;
}
.tab-container{
    text-align:center;
    align-self:flex-start;
    float:none;
    color:blue;
}

*{
    box-sizing:border-box;
}
body{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
}
#tab-row{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
}
#form-cell{
    justify-content:center;
    flex-direction:column;
    align-self:center;
    flex-basis:100%;
    display:flex;
}
#bootstable-row{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
}
::placeholder{
    color:rgb(255, 255, 255);
    opacity:0.8;
}
#iuxvnm{
    flex-direction:column;
}
